<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://cdn-e360.s3-sa-east-1.amazonaws.com/sera-iron-man-marvel-planea-resucitar-a-uno-de-sus-heroes-segun-nueva-filtracion-large-nqULodl6Lg.jpg" 
        alt=""
        height="200px"
        width="398px"
        >
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Lorem ipsum dolor sit amet consectetur  tempora!</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus optio accusamus obcaecati similique commodi soluta repellat error voluptatibus voluptate delectus. Sed excepturi repellendus no
            </a>
        </p>
    </div>
</div>
